  
<%- include('./fragments/header.ejs') %>
<main>
    <h2>Strona główna</h2>
    <h1>Strona poświęcona rejestracji turniejów, gier, drużyn i zawodników w grach online.</h1>
</main>
<%- include('./fragments/footer.ejs') %>