<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Szczegóły gry</h2>
        <form class="form">
            <label for="data">Data</label>
            <input type="date" name="data" id="data" value="01.01" disabled />
            <span id="errorData" class="errors-text"></span>

            <label for="tury">Ilość tur</label>
            <input type="text" name="tury" id="tury" value="3" disabled />
            <span id="errorData" class="errors-text"></span>

            <div class="form-buttons">
                <a href="" class="list-actions-button-edit">Edytuj</a>
                <a href="" class="list-actions-button-details">Powrót</a>
            </div>
        </form>
        <h2>Szczegóły turnieju</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Lokalizacja</th>
                <th>Nagroda</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>London</td>
                <td>1000 EUR</td>
            </tr>
            </tbody>
        </table>
    </main>
<%- include('./../fragments/footer.ejs') %>